{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block extrahead %}
<style>
    #image_preview {
        max-width: 200px; /* 이미지 크기 제한 */
        height: auto;
    }
</style>
{% endblock %}

{% block content %}
<h1>Profile</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.profile_img %}
    <img src="{{ user.profile_img.url }}" id="image_preview" alt="Your image will appear here.">
{% else %}
    {% load static %}
    <img src="{% static 'image/default-profile.png' %}" id="image_preview" alt="Default Profile">
{% endif %}
    
    {{ form.as_p }}

    <button type="submit">Update</button>

</form>
{% endblock %}

{% block extrajs %}
<script>
    // 이미지 파일이 입력되면 미리보기를 보여주는 함수
    document.getElementById('id_profile_img').onchange = function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('image_preview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>
{% endblock %}