{% load static %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
회원가입 페이지
<br>
<img src="{% static 'image/test.png' %}" alt="My image">
<br>
<form action="" method="POST">
    {% csrf_token %}
    <p>아이디</p>
    <input name="username" type="text">
    <p>비번</p>
    <input name="password" type="password">
    <p>성</p>
    <input name="firstname" type="text">
    <p>이름</p>
    <input name="lastname" type="text">
    <p>이메일</p>
    <input name="email" type="email">
    <p>레벨</p>
    <input name="level" type="text">
    <input type="submit" value="회원가입">
</form>